{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
	<section id="shopping">
		<h2>Mon panier</h2>
		<div class="container">
			{% if items == [] %}
				<p class="noProduct">Aucun produits dans le tableau</p>
			{% else %}
				<a href="{{ path('app_cart_delete') }}" class="cancel">x Vider le pannier</a>
				{% for item in items %}
					<div class="list">
						<figure>
							<img src="{{ item.product.image }}" alt="{{ item.product.name }}">
							<figcaption>
								<h3>{{ item.product.name }}</h3>
								<p class="quantity">Quantité :
									{{ item.quantity }}</p>
								<p class="price">{{ item.product.priceConverded|replace({'.': ","}) }}€</p>
							</figcaption>
						</figure>
					</div>
				{% endfor %}
				<div class="total">
					<div class="text">
						<h3>Total panier :<span>{{ total|replace({'.': ","}) }}€</span>
						</h3>
						<p>Frais de livraison : Offert</p>
					</div>
				</div>
			{% endif %}

		</div>
		<a href="{{ path('app_orders_add', {'price': total * 100}) }}" class="valid">Valider la commande</a>
	</section>
{% endblock %}
