{% extends 'base.html.twig' %}

{% block body %}
	<section id="welcome">
		<div class="text">
			<div class="container">
				<h2>Bienvenue</h2>
				<p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
				<p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter</p>
			</div>
		</div>
		<div class="image">
			<img src="{{ asset('assets/images/welcome.jpeg')| imagine_filter('home') }}" alt="Pancarte en carton avec marqué 'LESS_LESS NEW-CO2' posée sur une chaise dans une maison.">
		</div>
	</section>

	<section id="products">
		<div class="title">
			<h2>NOS PRODUITS</h2>
		</div>
		<div class="container">
			{% for product in products %}
				<figure>
					<img src="{{ product.image }}" alt="{{ product.name }}">
					<figcaption>
						<h3>{{ product.name }}</h3>
						<p class="description">{{ product.briefDescription }}</p>
						<p class="price">{{ product.priceFormated }}</p>
						<a href="{{ path('app_one_product', {'slug': product.slug}) }}">Voir le produit</a>
					</figcaption>
				</figure>
			{% endfor %}
		</div>
	</section>

	<section id="about">
		<div>
			<h2>NOTRE CONVICTION</h2>
			<p>Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique</p>
		</div>
		<div></div>
		<div>
			<img src="{{ asset('assets/images/branche.jpeg') }}" alt="">
		</div>
		<div>
			<img src="{{ asset('assets/images/sac.jpeg') }}" alt="">
		</div>
		<div></div>
		<div>
			<h2>NOS VALEURS</h2>
			<p>Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité.
				<br>
				Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques.
				<br>
				Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.</p>
		</div>
	</section>
{% endblock %}
