{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<section id="product">
			<div class="image">
				<img src="{{ product.image }}" alt="description de l'image">
			</div>
			<div class="text">
				<h2>{{ product.name }}</h2>
				<p class="price">{{ product.priceFormated }}</p>
				<div class="description">
					<h3>Description</h3>
					<p>{{ product.description }}</p>
				</div>
				<a href="{{ path('app_cart_add', {'id': product.id}) }}">Ajouter au panier</a>
			</div>
		</section>
	</main>
{% endblock %}
