{% extends 'base.html.twig' %}

{% block title %}Hello OrdersController!
{% endblock %}

{% block body %}

	<section id="account">
		<h2>Mon compte</h2>
		<div class="container">
			<h3>Mes commandes</h3>
			<table>
				<thead>
					<tr>
						<th scope="col">N°</th>
						<th scope="col">Date</th>
						<th scope="col">Prix</th>
					</tr>
				</thead>
				<tbody>
					{% for order in orders %}
						<tr>
							<td>{{ order.id }}</td>
							<td>{{ order.validationDateToString }}</td>
							<td>{{ order.priceFormated }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="apiAccess">
			<h3>Mon accès API</h3>
			<a href="{{ path('app_apiActivation') }}">
				{{ textBtn }}
				Mon accès API
			</a>
		</div>

		<div class="apiAccess">
			<a href="{{ path('app_auth_deleteUser') }}">Supprimer mon compte</a>
		</div>
	</section>

{% endblock %}
